[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/json;
Actions=json2latex-text-style;json2zim-style;
X-KDE-Priority=TopLevel
X-KDE-Submenu=json-theme

[Desktop Action json2latex-text-style]
Name=json2latex-text-style
Icon=audio
Terminal=true
Exec=rm ~/.config/style/log && json2latex-text-style.sh %f 2>&1 | tee ~/.config/style/log

[Desktop Action json2zim-style]
Name=json2zim-style
Icon=audio
Terminal=true
Exec=rm ~/.config/style/log && json2zim-style.sh %f 2>&1 | tee ~/.config/style/log

